body {
    margin: 0;
    padding: 0;
    background-image: url("stock7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.form-container {
background-size: cover;
text-align:left;
background-position: center;
padding: 50px;
border-radius: 50px;
border-style: ridge;
height: 60vh;
width: 50vh;
margin-left: 2cm;
margin-top: 1cm;
box-shadow: 0 0 20px rgba(14, 1, 1, 0.872);
border-color:black;
background-color:cornflowerblue;
}

.label {
display: block;
margin-bottom: 8px;
color: #0f0e0e;
border-color:black;
}

.input {
width: 100%;
padding: 10px;
margin-bottom: 12px;
box-sizing: border-box;
border-radius: 4px;
border: 2px solid #878383;
font-size: 14px;
}

.button {
background-color: #0f0e0e;
color: white;
padding: 12px 15px;
border: none;
border-radius: 4px;
cursor: pointer;
font-size: 16px;
}

.App
  {
    text-align:right;
    padding-right: 0%;
  }